<ion-header>
  <ion-navbar>
    <ion-title>Información</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Cerrar</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col col-12 *ngFor="let item of data; let i = index">
        <ion-card>
          <ion-card-header>
            Persona {{i + 1}}
          </ion-card-header>
          <ion-card-content>
            <ion-label>Sexo</ion-label>
            <ion-icon name="{{item.faceAttributes.gender == 'male'? 'male': 'woman'}}"></ion-icon>
            {{item.faceAttributes.gender == 'male'? 'Masculino': 'Femenino'}}

            <ion-item-divider></ion-item-divider>

            <ion-label>Edad</ion-label>
            <div>{{item.faceAttributes.age}}</div>

            <ion-item-divider></ion-item-divider>

            <ion-label>Accesorios</ion-label>
            <p *ngIf="item.faceAttributes.accessories[0]?.type">{{item.faceAttributes.accessories[0].type}}</p>
            <p *ngIf="item.faceAttributes.accessories[1]?.type">{{item.faceAttributes.accessories[1].type}}</p>
            <p *ngIf="item.faceAttributes.accessories[2]?.type">{{item.faceAttributes.accessories[2].type}}</p>

            <!--<div>{{ item.faceAttributes.accessories | json }}</div>-->

            <ion-item-divider></ion-item-divider>

            <ion-label>Color de pelo</ion-label>
            <div *ngIf="item.faceAttributes.hair.hairColor[0]?.color == 'brown'">Marron</div>
            <div *ngIf="item.faceAttributes.hair.hairColor[0]?.color == 'black'">Negro</div>

            <ion-item-divider></ion-item-divider>

            <ion-label>Maquillaje</ion-label>
            <div>{{item.faceAttributes.makeup.eyeMakeup == true ? 'Sombra de ojos': ''}}</div>
            <div>{{item.faceAttributes.makeup.lipMakeup == true ? 'Labial': ''}}</div>

            <ion-item-divider></ion-item-divider>

            <ion-label>Esta sonriendo</ion-label>
            <div>{{item.faceAttributes.smile
              < 0.4 ? 'No': 'Si'}}</div>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-content>